<div class="row">
    <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name">City</label>
                <input class="form-control" type="text" id="city-name" value="">
            </div>
            <div class="form-group">
                <button id="create-city">Create</button>
                @* <input type="submit" value="Create" class="btn btn-primary" id="Testj"/> *@
            </div>

    </div>
</div>

<script type="text/javascript">
$(function(){
    $("#create-city").click(function(){
            var cityName=$("#city-name").val();
            $.post("/city/Create",{name:cityName},function(data,status){
                console.log(status);
                console.log(data);
                console.log(data.id)
            });
    });
});
</script>    